In [ ]:
import pandas as pd
df = pd.read_csv("/content/autoscout24-germany-dataset.csv.zip")
df
type(df)
df.to_csv('C:\MyFiles\car_data.csv')

In [ ]:
df.to_csv('/content/autoscout24-germany-dataset.csv.zip')

In [ ]:
d = pd.read_csv("/content/autoscout24-germany-dataset.csv.zip", nrows=5)
d

,Unnamed: 0,mileage,make,model,fuel,gear,offerType,price,hp,year
0,0,235000,BMW,316,Diesel,Manual,Used,6800,116.0,2011
1,1,92800,Volkswagen,Golf,Gasoline,Manual,Used,6877,122.0,2011
2,2,149300,SEAT,Exeo,Gasoline,Manual,Used,6900,160.0,2011
3,3,96200,Renault,Megane,Gasoline,Manual,Used,6950,110.0,2011
4,4,156000,Peugeot,308,Gasoline,Manual,Used,6950,156.0,2011

In [ ]:
import os

In [ ]:
!dir

autoscout24-germany-dataset[2].csv   C:\\MyFiles\\car_data.csv	   sample_data
autoscout24-germany-dataset.csv.zip  g_Reading_writing_files.html